
# Ignore executables
*.exe
*.out

# Ignore backups
.bak

# Ignore python cache
__pycache__

# Ignore VS Code config
.vscode

# Ignore PyLint config
.pylintrc

# Ignore unnecessary folders/files
old_scripts
trash


